#floativ {
    position: fixed;
    margin: 0 auto;
    z-index: 9999;
    bottom: 0;
    left: 0;
}

.floativ-wrapper {
    background: #fff;
    overflow: auto;
}
.floativ-body {
    padding: 10px 25px 10px 5px;
}

.floativ-head {
    width: 21px;
    position: absolute;
    right: -3px;
    top: 8px;
}

.floativ-head span i {
    width: 21px;
    height: 21px;
    display: block;
    margin: 0 auto;
    text-decoration: none;
    z-index: 1000!important;
}

.floativ-expand,
.floativ-collapse {
    position: fixed;
    cursor: pointer;
}

.shadow {
    position: absolute;
    z-index: -1;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

/** Scrollbar **/
#mCSB_1_scrollbar_vertical {
    margin-top:10px;
}