/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #212121;
    font-size: 1em;
    line-height: 1.4;
    background: #FAFAFA;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #B6B6B6;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #B6B6B6;
    color: #000;
    padding: 0.2em 0;
}
/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

.title {
    color: #fff;
}

.title span {
    font-size: 0.5em;
}
/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: #fff;
    padding: 0px 5% 10px;
}
/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

p,
li {
    color: #727272;
}

a {
    color: inherit;
}

a:hover,
a:focus {
    color: #212121;
}

ul li span {
    color: #212121;
    font-weight: bold;
}
/**** FOOTER ****/

.footer-container footer {
    color: #fff;
    padding: 10px 0;
}

footer aside:nth-child(1) {
    float: left;
    width: 80%
}

footer article p,
footer article p a {
    color: #b3e5fc;
    text-decoration: none;
}

footer article p a:hover,
footer article p a:focus {
    color: #fff;
}

.header-container,
.main aside {
    background: #03A9F4;
    box-shadow: 0 0 20px #727272;
    border-top: 10px solid #0288D1;
}

.footer-container {
    border-bottom: 10px solid #0288D1;
    background: #03A9F4;
    box-shadow: 0 0 20px #727272;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {}

@media only screen and (min-width: 768px) {
    /* ============
    WIDE: Menu
   ============ */
    
    .title {
        float: left;
    }
    /* ============
    WIDE: Main
   ============ */
    
    .main article {
        float: left;
        width: 57%;
    }
}

@media only screen and (min-width: 1140px) {
    /* ===============
    Maximal Width
   =============== */
    
    .wrapper {
        width: 1026px;
        /* 1140px - 10% for margins */
        
        margin: 0 auto;
    }
    .main article {
        float: left;
        width: 100%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}